
/*body*/

section{

    padding:170px 0 0 0;
    position:relative;


}

#member {

    margin-bottom: 20px;


}
/*コンテンツ*/

.line{

    margin-bottom: 50px;
    border-bottom: 1px dotted #a8a8a8;
    border-top: 1px dotted #a8a8a8;
    padding: 0.25em 0;

}

.line1{

    margin-bottom: 30px;

}

.line2{

    margin-bottom: 30px;

}
